<!-- newPassword_page.ejs -->

<!DOCTYPE html>
<html>

<head>
    <title>Create a new password for your account</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        form {
            width: 300px;
            margin: 40px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="password"] {
            width: 90%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #3e8e41;
        }
    </style>
</head>

<body>
    <form id="reset-password-form" method="post">
        <form action="/auth/reset-password/:id/:token" method="post">

            <h2>Create a new password</h2>

            <label for="password">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
            <input type="submit" value="Confirm">

        </form>
    </form>

    <% if (typeof message !=='undefined' ) { %>
        <label>
            <%= message %>
        </label>
        <% } %>
</body>

</html>